.panorama-container {
    position: relative;
    height: 0;
    margin-bottom: 0;
    padding-bottom: 75%;
    overflow: hidden;
}
.panorama-container .pnlm-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}